{% extends 'base_information.html' %}
{% load i18n %}
{% block title %}{% blocktrans  %}Indicators of Hydrologic Alterations{% endblocktrans %} | {% endblock %}
{% block title_head %}{% blocktrans  %}Indicators of Hydrologic Alterations{% endblocktrans %}{% endblock %}
{% block subtitle %}<a href="{{ BASE_URL }}/{{ LANGUAGE_CODE }}/stations/{{ station.id }}/information">{{ station }}</a>{% endblock %}
{% block data %}
        

        
                   <div class="box box-success">
            <div class="box-header with-border">
             <i class="fa fa-files-o"></i>
              <h3 class="box-title">{% blocktrans  %}Means{% endblocktrans %}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                         
                                 <table class="table">
    <thead>
      <tr>
        <th>{% blocktrans  %}IHA Group{% endblocktrans %}</th>
        <th>{% blocktrans  %}Pre-impact{% endblocktrans %}</th>
        <th>{% blocktrans  %}Pos-impact{% endblocktrans %}</th>
        <th>{% blocktrans  %}Deviation{% endblocktrans %}<br>Magnitude/%</th>
        <th>{% blocktrans  %}Confidence limits{% endblocktrans %}<br>(low-high)</th>
      </tr>
    </thead>
    <tbody>
     <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 1 - Monthly Magnitude{% endblocktrans %}</b></td>
     </tr>
       {% for var in group1 %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 2 - Magnitude and duration of annual extremes{% endblocktrans %}</b></td>
     </tr>
       {% for var in group2 %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}

        
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 3 - Timing of annual extremes{% endblocktrans %}</b></td>
     </tr>
       {% for var in group3 %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}

                
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 4 - Frequency and duration of low and high pulses{% endblocktrans %}</b></td>
     </tr>
       {% for var in group4 %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        


                
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 5 - Rate and Frequency of change{% endblocktrans %}</b></td>
     </tr>
       {% for var in group5 %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        
        
    </tbody>
  </table>
                         
                          </div>
            <!-- /.box-body -->
          </div>
                             
                             
                             
                             <div class="box box-success">
            <div class="box-header with-border">
             <i class="fa fa-files-o"></i>
              <h3 class="box-title">{% blocktrans  %}Coefficients of variation{% endblocktrans %}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                         
                                 <table class="table">
    <thead>
      <tr>
        <th>{% blocktrans  %}IHA Group{% endblocktrans %}</th>
        <th>{% blocktrans  %}Pre-impact{% endblocktrans %}</th>
        <th>{% blocktrans  %}Pos-impact{% endblocktrans %}</th>
        <th>{% blocktrans  %}Deviation{% endblocktrans %}<br>Magnitude/%</th>
        <th>{% blocktrans  %}Confidence limits{% endblocktrans %}<br>(low-high)</th>
      </tr>
    </thead>
    <tbody>
     <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 1 - Monthly Magnitude{% endblocktrans %}</b></td>
     </tr>
       {% for var in group1cv %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 2 - Magnitude and duration of annual extremes{% endblocktrans %}</b></td>
     </tr>
       {% for var in group2cv %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}

        
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 3 - Timing of annual extremes{% endblocktrans %}</b></td>
     </tr>
       {% for var in group3cv %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}

                
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 4 - Frequency and duration of low and high pulses{% endblocktrans %}</b></td>
     </tr>
       {% for var in group4cv %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        


                
    <tr>
         <td colspan="4" ><b>{% blocktrans  %}Group 5 - Rate and Frequency of change{% endblocktrans %}</b></td>
     </tr>
       {% for var in group5cv %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        
        
    </tbody>
  </table>
                         
                          </div>
            <!-- /.box-body -->
          </div>
                              {% if graphs %}
          {% for graph in graphs %}
                   <div class="box box-success">
            <div class="box-header with-border">
             <i class="fa fa-files-o"></i>
              <h3 class="box-title">{% blocktrans with variable=reduced.reduceds.0.original_serie.variable tipo_dado=reduced.discretization.type %}Hydrogram {{ variable }} - {{ tipo_dado }} Data{% endblocktrans %}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
              <div class="">
                <div style="max-width:inherited;">
                {{ graph|safe }}
                </div>
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
        {% endfor %} 
                {% endif %}
                
                
                <div class="box box-success">
            <div class="box-header with-border">
             <i class="fa fa-files-o"></i>
              <h3 class="box-title">{% blocktrans  %}Means{% endblocktrans %}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                         
                                 <table class="table">
    <thead>
      <tr>
        <th>IHA Group</th>
        <th>Pre-impact</th>
        <th>Pos-impact</th>
        <th>Deviation<br>Magnitude/%</th>
        <th>Confidence limits<br>(low-high)</th>
      </tr>
    </thead>
    <tbody>
     <tr>
         <td colspan="4" ><b>Reference Flow</b></td>
     </tr>
       {% for var in reference_flow %}
      <tr>
        <td>{{ var.title }}</td>
        <td>{{ var.pre_data }}</td>
        <td>{{ var.pos_data }}</td>
        <td>{{ var.deviation_magnitude }}/{{ var.percent }}</td>
        <td>{{ var.value }}</td>
      </tr>
        {% endfor %}
        
        
        
    </tbody>
  </table>
                         
                          </div>
            <!-- /.box-body -->
          </div>
                             
{% endblock %}

{% block stats %}{% endblock %}    