{% extends 'base_information.html' %}
{% load i18n %}
{% block title %}Station Information | {% endblock %}
{% block title_head %}{% trans 'Station Information' %}{% endblock %}
{% block subtitle %}{{ station }}{% endblock %}
{% block data %}
         {% for original in originals %}
                   <div class="box box-success">
            <div class="box-header with-border">
             <i class="fa fa-files-o"></i>
              <h3 class="box-title">{% blocktrans with variable=original.variable tipo_dado=original.consistency_level %}Hydrogram {{ variable }} - {{ tipo_dado }} Data{% endblocktrans %}</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="">
                              {% if original.graph %}
                <div style="max-width:inherited;">
                {{ original.graph|safe }}
                </div>
                {% endif %}
              </div>
              <!-- /.row -->
            </div>
            <!-- /.box-body -->
          </div>
        {% endfor %} 
{% endblock %}

{% block stats %}
          {% for stat in stats %}
          <div class="box box-solid bg-blue-gradient">
            <div class="box-header">
              <i class="glyphicon glyphicon-stats"></i>

              <h3 class="box-title">{{ stat.name }}</h3>

              <div class="box-tools pull-right">
               
                <button type="button" class="btn bg-blue btn-sm" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn bg-blue btn-sm" data-widget="remove"><i class="fa fa-times"></i>
                </button>
              </div>
            </div>
            <div class="box-body border-radius-none">
            {% if stat.form %}
              
            <form action="" method="POST" class="formularioEmail" enctype="multipart/form-data">
             
                {% csrf_token %}
                    {% for field in stat.form %}
                <div class = "form-group">
                   
                  
                        {% if field.errors %}
                            {{ field.errors }}
                        {% endif %}
                       
                     
                            <label for="{{field.name}}"  >{{field.label}}</label>
                        

                        
                            {{ field }}
                        

                    
                </div>
                
                    {% endfor %}
                
     
                <button type="submit" name="{{ stat.form.prefix }}" value="Submit" class="btn btn-primary btn-lg btn-block">Enviar</button>

            </form>



            {%  endif %}
            </div>
            <!-- /.box-body -->
            <!-- /.box-footer -->
          </div>
          {% endfor %}
{% endblock %}    